/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	/* color: black; */
	text-align: center;
	margin-bottom: 1em;
}
.projets {
	display: flex;
	justify-content: center;
	margin: 12px 0;
}
.projets button {
	margin-bottom: 20px;
	font-size: 14px;
    margin-right: 7px;
	border: 1px solid #1D6154;
    color: #1D6154;
    padding: 5px 16px;
    border-radius: 30px;
	font-weight: 600;
}
.projets button:hover {
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}





.formu {
	padding-top: 100px;
}
.titre {
	display: flex;
	justify-content: center;
	padding-bottom: 36px;
} 
.formulaire {
	max-width: 300px;
	margin: 0 auto;
}

.formulaire label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.formulaire input {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: none;
	-webkit-box-shadow: -7px 6px 19px -12px rgba(0,0,0,0.75);
}

#button {
    display: flex;
    margin: 0 auto;
    border: none;
    background-color: #1D6154;
    color: white;
    padding: 7px 48px;
    border-radius: 30px;
    margin-top: 10px;
	font-size: 16px;
}

.forgot_password {
	display: flex;
    justify-content: center;
    color: black;
    margin-top: 26px;
}

li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	color: #B1663C;
}
#error {
	color: red;

}

.modify {
	text-decoration: none;
	color: black;
	font-size: 12px;
	position: relative;
	bottom: 4px;
	left: 35px;
}

#modale {
	display: none;
}
#modaleClick {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	height: 3340px;
	z-index: 2;
}
.cross {
	position: absolute;
	bottom: 90%;
	z-index: 3;
    right: 28%;
    text-decoration: none;
    color: black;
	font-size: 20px;
}
.titleModale {
	padding: 30px 0 10px 0;
}
.modaleElement {
	position: relative;
	width: 621px;
	height: 603px;
	bottom: 32%;
	padding: 20px;
	background-color: white;
	margin: 0 auto;
	border-radius: 15px;
}
.modaleElementAffiche {
	position: relative;
	display: inline-block;
	padding: 2px 7px;
}
.modaleElementAffiche img{
	width: 80px;
	height: 100px;
	padding-bottom: 20px;
}
.modaleElementAffiche:last-child {
    margin-right: 0; /* Supprimez la marge à droite pour le dernier élément */
    text-align: right; /* Alignez le dernier élément à droite */
}
.inModale {
	width: 85%;
	margin: 0 auto;
}
.buttonAjout {
	display: flex;
    margin: 0 auto;
    border: none;
    color: white;
    background-color: #1D6154;
    font-size: 17px;
    padding: 7px 52px;
	margin-top: 30px;
    border-radius: 30px;
}
.header_login {
	background-color: black;
    color: white;
    padding: 19px;
    font-size: 16px;
}
.header_login p {
	text-align: center;
}
.header_login i {
	color: white;
}
.blockInModale {
	border-bottom: 1px solid gray;
	padding-bottom: 45px;
	text-align: center;
	height: 375px;
}
.buttonInModale {
	padding-top: 40px;
	padding-bottom: 22px;
}
.bin {
	position: absolute;
	bottom: 98px;
	left: 54px;
    color: white;
    background: black;
    padding: 3px;
	cursor: pointer;
}
.blockInModaleAjout {
	border-bottom: 1px solid gray;
	padding-bottom: 45px;
	text-align: center;
}
.valider {
	display: flex;
    margin: 0 auto;
    border: none;
    color: white;
    background-color: #bebebe;
    font-size: 17px;
    padding: 7px 100px;
	margin-top: 30px;
    border-radius: 30px;
}
.arrow {
	position: absolute;
	bottom: 90%;
    z-index: 3;
	left: 28%;
    text-decoration: none;
    color: black;
    font-size: 27px;
}
input {
    width: 87%;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 12px;
    border: 1px solid white;
    border-radius: 4px;
	box-shadow : 2px 3px 21px 3px #ebe8e8 ;
}
.ajoutPhoto {
	background: #d4f0f1;
    margin: 0 auto;
	border-radius: 5px;
    width: 87%;
    height: 142px;
	padding: 15px 0 5px;
}
.ajoutPhoto i {
	font-size: 70px;
	color: #c9c8c8;
	padding-bottom: 5px;
}
input[type="file"] {
	display: none;
}
.labelFile {
	display: flex;
    margin: 0 auto;
    border: none;
	color: #3d6495;
    background-color: #c9c8c8;
    font-size: 17px;
    padding: 7px 0px;
	width: 182px;
	justify-content: center;
    border-radius: 30px;
}
.ajoutPhoto p {
	padding-top: 9px;
    font-size: 11px;
}
.emplacement {
	margin-top: 25px;
}
.emplacement p {
	text-align: left;
	margin: 0 auto;
	width: 87%;
}
.emplacement ul {
	display: block;
    width: 87%;
	background-color: #f7f7f7;
    margin: 0 auto;
	border: 1px solid #bdb5b5;;
	border-radius: 0px 0px 10px 10px;
}
.emplacement li {
	display: flex;
	padding: 13px 0 8px 16px;
	width: 96%;
	border-top: 1px solid #bdb5b5;;
}
.modifPhoto {
	width: 42%;
    height: 100%;
}
.select {
	width: 87%;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 2px 3px 21px 3px #ebe8e8;
}